header, nav, main, footer {display: block; }
* {
	box-sizing: border-box;
}

header {
	background-color: #000066;
	color: #FFFFFF;
	font-family: serif;
}
h1{
	text-align: center;
	font-size: 3em;
	padding: 10px;
	line-height: 150%;
	text-shadow: #CCCCCC;
}

nav {
	font-weight: bold;
	/* text-align: center; */
	float: left;
	width: 150px;
}
nav a {
	padding-right: 0.25em;
	text-decoration: none;
	/* ^^^ fixed underscores after image links: https://stackoverflow.com/questions/9003969/underscore-between-two-image-links */
}
nav a:link {
	color: #3262A3;
}
nav a:visited {
	color: #6699FF;
}
nav a:hover {
	color: #CCCCCC;
}
nav ul {
	list-style-type: none;
}

body {
	background-color: #6699ff;
	color: #D5E3FF;
	font-family: Verdana, Arial, sans-serif;
	background-image: url("../assets/gradientblue.jpg");
}
#wrapper { /* inside wrapper for the body content */
	min-width: 700px;
	max-width: 1024px;
	margin-right: auto;
	margin-left: auto;
	background-color: #FFFFFF;
	color: #000066;
}
main {
	margin-right: 180px;
	padding-right: 20px;
	padding-bottom: 20px;
	
}
.category {
	font-weight: bold;
	background-color: #FFFFFF;
	color: #003366;
	font-size: 1.1em;
	text-shadow: 1px 1px 1px #667;
}
.homeinfo {
	text-align: center;
}
table {
	border: 2px solid #00008B;
	border-collapse: collapse;
}
td, th {
	padding: 0.5 em;
	border: 1px solid #00008B;
}


img {
	border: none;
}

footer {
	font-size: 0.7em;
	font-style: italic;
	padding: 10px;
	margin-left: 180px;
	padding-top: 65px;
}
footer nav {
	text-align: left;
}